body{
    background-color: aliceblue;
}
.color-hover{
    display: flex;
    justify-content: center;
}
.color{
    margin: 20px;
    width: 50px;
    height: 50px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}
.red{
    background-color: red;
}
.cyan{
    background-color: cyan;
}
.violet{
    background-color: violet;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}

.center{
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 100px;
    border-radius: 50%;
}